@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
  font-family: 'Spartan';
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  opacity: 80%;
  background: url('../assets/brush3.png');
  background-repeat: no-repeat;
  background-size: 600px 50px;
  width: 600px;
  padding: 8px 0;
  margin-top: 2%;
  font-size: 40px;
  font-family: 'Spartan';
}

h1:hover {
  color: rgb(80, 80, 80);
}

a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 12px;
}

footer a:hover {
  opacity: 80%;
  background: url('../assets/brush3.png');
  background-repeat: no-repeat;
  background-size: 80px 20px;
  width: 100px;
  padding: 5px 18px;
}